

*{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
}

.h1_titulo{
    background-color: #7B6E6E;
    margin: 0;
    padding-top: 10px;
    color: #fff;
    padding-bottom: 12px;
    font-size: 2.1rem;
    text-align: center;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;

}
.div_main{
    width: 700px;
    margin: 50px auto 0;
}
.div_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 700px;
}

.div_box_esquerda{
    background-color: #fff;
    height: 100%;
    width: 50%;
    border-bottom-left-radius: 20px;
    word-wrap: break-word;
}

.p_texto{
    margin-left: 20px;
    font-size: 1.2rem;
    line-height: 25px;
}
.porcentagem{
    font-weight: 800;
    font-size: 1.5rem;
    color: #E40000;
}


.div_box_direita{
    background-color: #5C5959;
    height: 100%;
    width: 50%;
    border-end-end-radius: 20px;

}

.div_input1{
    margin-top: 30px;
    margin-left: 5px;
}

.div_input1, .div_alinhamento{
    margin-left: 20px;
}
.p_esquerdo{
    color: #fff;
    font-size: 1rem
}
input{
    background-color: #D9D9D9;
    border: 0px;
    border-radius: 10px;
    height: 30px;
    width: 300px;
}

.div_alinhamento{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}
button{
    background-color: #D34C4C;
    border: 0;
    height: 50px;
    width: 150px;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-top: 25px;
}

button:hover{
    background-color: #d85c5c;
    cursor: pointer;
}

input::placeholder{
    padding-left: 5px;
}
input{
    padding-left: 5px;
}

.div_gastos{
    margin-top: 10px;
    background-color: #fff;
    width:  96%;
    height: 169px;
    border-end-end-radius: 20px;
    border-left: 4px solid #5C5959;
    padding-left: 10px;
}

.div_gastos > .span_nao{
    font-size: 1.2rem;
    color: #fff;

}
.div_alinhamento_texto{
    text-align: center;

}
.span_economia{
    font-size: large;
    text-align: center;
    
}

b{
    font-size: 1.3rem;
    color: #E40000;
    font-weight: bolder;
}